<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head')%>
    <link rel="stylesheet" href="../../public/css/main.css" />
</head>
<%- include('./layout/header',{userName}) %>
<body>
<h2>Users List</h2>
<div id="users">
    <br>
    <table id="table" style="width:100%; text-align: center;">
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Admin</th>
        </tr>
    </table>
</div>
</section>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <%- include('./layout/footer'); %>
</div>
</body>
</html>
