<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head')%>
    <link rel="stylesheet" href="../public/css/dashborad.css" />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'><link rel="stylesheet" href="./style.css">
</head>
<%- include('./layout/header',{userName}) %>
<body>
        	<!----Weather Widget-->
		<a class="weatherwidget-io" href="https://forecast7.com/en/31d9734d79/rishon-letsiyon/" data-label_1="Tel Aviv" data-label_2="WEATHER" data-theme="original" >RISHON LETSIYON WEATHER</a>
		<script>
		!function(d,s,id){
			var js,fjs=d.getElementsByTagName(s)[0];
			if(!d.getElementById(id)){
				js=d.createElement(s);
				js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';
				fjs.parentNode.insertBefore(js,fjs);
				}
			}
			(document,'script','weatherwidget-io-js');
		</script>
    <div class="form-body">
        <div class="lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <body id="page-top">
                <video autoplay muted loop id="myVideo" autoplay >
                    <source src="../public/imgs/How New Balance Sneakers Are Made _ The Making Of.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                  </video>
                <header class="masthead">
                    <div class="container px-4 px-lg-5 h-100">
                        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                            <div class="col-lg-8 align-self-end">
                                <h1 class="text-white font-weight-bold">Welcome to Simple Shoes</h1>
                                <hr class="divider" />
                            </div>
                            <div class="col-lg-8 align-self-baseline">
                                <p class="text-white-75 mb-5">one stop shop for shoes!</p>
                                <a class="btn btn-primary btn-xl" href="/shoes/shop">Find Out More</a>
                            </div>
                        </div>
                    </div>
                </header>
            </div>

                <!-- Services-->
                <section class="page-section" id="services">
                    <div class="container px-4 px-lg-5">
                        <hr class="divider" />
                        <div class="row gx-4 gx-lg-5">
                            <div class="col-lg-3 col-md-6 text-center">
                                <div class="mt-5">
                                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 text-center">
                                <div class="mt-5">
                                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 text-center">
                                <div class="mt-5">
                                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                                    <h3 class="h4 mb-2"></h3>
                                    <p class="text-muted mb-0"></p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 text-center">
                                <div class="mt-5">
                                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                                    <h3 class="h4 mb-2"></h3>
                                    <p class="text-muted mb-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Portfolio-->
                <div id="portfolio">
                    <div class="container-fluid p-0">
                        <div class="row g-0">
                            <div class="col-lg-4 col-sm-6">
                                <a class="portfolio-box" href="/shoes/shop" title="Buy Now">
                                    <img class="img-fluid" src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/7ad0bd12-a501-431d-95fd-d4a058be596d/air-jordan-1-zoom-air-comfort-shoes-h6dBTb.png
                                    " alt="..." />
                                    <div class="portfolio-box-caption">

                                        <div class="project-name">Buy Now</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <a class="portfolio-box" href="/shoes/shop" title="Buy Now">
                                    <img class="img-fluid" src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/99c37db8-2e9c-4c9d-a18a-cb982cc6b759/zoom-fly-5-road-running-shoes-hTNv2r.png
                                    " alt="..." />
                                    <div class="portfolio-box-caption">

                                        <div class="project-name">Buy Now</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <a class="portfolio-box" href="/shoes/shop" title="Buy Now">
                                    <img class="img-fluid" src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/44c21f0a-4290-40aa-be0e-546148ae7979/air-jordan-1-hi-flyease-shoes-9mn2QK.png
                                    " alt="..." />
                                    <div class="portfolio-box-caption">

                                        <div class="project-name">Buy Now</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <a class="portfolio-box" href="/shoes/shop" title="Buy Now">
                                    <img class="img-fluid" src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/4e7695a1-3a51-4c22-98e3-3bad6274cee1/air-jordan-1-retro-high-og-shoes.png
                                    " alt="..." />
                                    <div class="portfolio-box-caption">

                                        <div class="project-name">Buy Now</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <a class="portfolio-box" href="/shoes/shop" title="Buy Now">
                                    <img class="img-fluid" src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.0/w_593,c_limit/8b0ba1dd-6b43-48ed-83c8-6e876f19bd84/court-vision-low-next-nature-shoes-7RBLtp.png
                                    " alt="..." />
                                    <div class="portfolio-box-caption">

                                        <div class="project-name">Buy Now</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <a class="portfolio-box" href="/shoes/shop" title="Buy Now">
                                    <img class="img-fluid" src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/c6a0418a-cebc-4c08-9092-65f69666a842/jordan-system23-shoes-hDFz3C.png"


                                    " alt="..." />
                                    <div class="portfolio-box-caption p-3">

                                        <div class="project-name">Buy Now</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 300px">

                </div>
                
                <%- include('./layout/footer'); %>
</body>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
 <script src="js/scripts.js"></script>
 <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
 <script>
    var video = document.getElementById("myVideo");
    var btn = document.getElementById("myBtn");
    
    function myFunction() {
      if (video.paused) {
        video.play();
        btn.innerHTML = "Pause";
      } else {
        video.pause();
        btn.innerHTML = "Play";
      }
    }
    </script>
</html>