<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head')%>
    <link rel="stylesheet" href="../../public/css/main.css" />
</head>
<%- include('./layout/header') %>
<body>
    <div style="flex-grow: 1; display:flex; flex-direction:column; 
    justify-content:space-between;">
<form class="box" method="post" action="/home">
  <h1>Login</h1> 
  <input type="text" name="" placeholder="Username">
  <input type="password" name="" placeholder="Password">
  <a href="" target="_blank" type="submit">Login</a>
</form>



<div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
<%- include('./layout/footer'); %>
</div>
</body>
</html>


