<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head')%>
    <link rel="stylesheet" href="../public/css/register.css" />
</head>
<%- include('./layout/header') %>
<body>
<div class="form-body">
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Update Shoe Panel</h3>
                    <p>Fill the required data below.</p>
                    <form  id="form" method="post" action="/shoes/update">

                        <div class="col-md-12">
                            <input class="form-control" type="text" name="name" placeholder="Shoe name" id="name" required>
                            <small></small>
                        </div>
                        <div class="col-md-12">
                            <input class="form-control" type="text" name="company" placeholder="company" id="company" required>
                            <small></small>
                        </div>
                        <div class="col-md-12">
                            <select class="form-select mt-3" required name="size">
                                <option selected disabled value="">Size</option>
                                <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                                <option value="45">45</option>
                                <option value="46">46</option>
                                <option value="47">47</option>
                                <option value="48">48</option>
                            </select>
                            <small></small>
                        </div>
                        <div class="col-md-12">
                            <input class="form-control" type="text" name="price" placeholder="Shoe price" required>
                            <small></small>
                        </div>
                        <div class="col-md-12">
                            <input class="form-control" type="text" name="quantity" placeholder="Quantity" required>
                            <small></small>
                        </div>
                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">Add New Shoe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./layout/footer'); %>
</body>
</html>
